TAGS
db/sphinx/*
db/*sqlite3
log/searchd.*.pid
log/*.log
log/*.output
log/*.pid
tmp/**/*
.DS_Store
doc/api
doc/app
coverage/*
.tm_*
*.swp
.ditz-config
/html/
.autotest*
.tmtags
tmtags
tmp/ruby-uuid
test/performance/tmp
tmp/last_commit_info.yml
tmp
web_pages
!app/views/web_pages
nohup.out
config/httpd.conf
app/stylesheets/.sass-cache/*
dictionaries
public/tmp_revenge_rates_in_production.sql.gz
*~
.#*
*#*#*
