ol#tweets {
  list-style: none outside none;
  margin-left: 0px;
  display: block;
  width: 425px;
  overflow: visible;
  font-size: 14px;
}

li.tweet {
  border-bottom: 1px solid #EEEEEE;
  line-height:16px;
  padding: 10px 0px 8px 0px;
  position: relative;
  margin: 0px;
  align: left;
}

span.meta {
  display: block;
  font-size: 11px;
  margin-top: 2px;
  margin-left: 0px;
}
input.submit {
  opacity: 0.6;
  font-family: "helvetica neue",arial,sans-serif;
  padding: 5px 15px 6px;
  font-size: 15px;
  border-color: #DDDDDD #DDDDDD #CCCCCC !important;
  background: url("http://s.twimg.com/a/1279228556/images/buttons/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
  border-style: solid;
  border-width: 1px !important;
  cursor: pointer;
  display: inline-block;
  text-shadow: 1px 1px 0 #FFFFFF !important;
  -moz-border-radius: 5px 5px 5px 5px;
  background-position: 0 -200px;
}
div.msg_form {
  padding: 1px 0 0 10px;
  margin: 0;
  word-wrap: break-word;
  text-align: left;
}

div.tweet-controls {
  align: right;
  margin: 0;
}
