<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<% form_for :tweet, @tweet, :url => tweet_url(@user.id) do |f| %>
  <%= f.text_area :body, :rows => 2, :cols => 40 %>
  <%= f.submit "Tweet", :class => "submit" %>
<% end %>

<%= render :partial => "user_tweets", :layout => "tweets", :locals => { :tweets => @tweets } %>
