<div id="container">
  <div class="left-pane">
    <p>
      <b>Name:</b>
      <%=h @user.name %>
    </p>

    <%= render :partial => "tweet/message_form", :locals => { :tweet => @tweet, :user => @user} %>
    
    <%= render :partial => "shared/tweets_timeline", :layout => "shared/tweets", :locals => { :tweets => @tweets } %>
  </div>
  <div class="right-pane">
    <%= render :partial => "shared/user_info", :layout => "shared/user_info_layout", :locals => { :user => @user} %>
  </div>
</div>

